{% extends 'MyStarbucks/manage/manage_base.html' %}
{% block content %}
    <h5> >>> 回复留言 </h5>
    <table class="del_list">
        <tr>
            <th>留言</th>
            <th>回复</th>
        </tr>
        <tr>
            <td>{{ id.title }}</td>
            <td>
                <form action="" method="post">
                    {% csrf_token %}
                    <textarea name="answer"></textarea>
                    <input class="resp" type="submit" name="submit" value="回复" />
                </form>
            </td>
        </tr>
    </table>
{% endblock %}