{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>季度精选</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container" style='padding-left:50px'>
   <div class="row">
   	  <div class="col-md-11">
		<span class="tag_ad">广告</span>
		<section class="hero relative">
		  
		    <div class="block relative mobile-hidden">
		      <a href="">
		        <img src="{% static 'image/kv-1.jpg' %}" class="img">
		      </a>
		    </div>
		    <div class="block relative show-mobile tablet-hidden">
		      <a href="">
		        <img src="{% static 'image/kv-1-mobile.jpg' %}" class="img">
		      </a>
		    </div>
		  
		  <div class="wrapper">
		    <h2 style='text-align:center;padding-top:15px'>这一季，融聚美妙</h2>
		    <p class="text description">    
				星巴克经典饮品太妃榛果风味脆糖拿铁再次回归，提醒着我们圣诞来了；全新冰雪芝士风味拿铁，烤芝士风味甜酱融入经典浓缩咖啡中，蓝莓风味粉和星型膨化粒散落其上，宛如童话般雪景；圣诞甜点风味拿铁，灵感源自英式圣诞传统甜品，馥郁的蛋奶香透出淡淡酒香，顶部稀奶油缀以焦糖酱及混合水果蜜。
		    </p>
		  </div>
		</section>
		<section class="featured-items">
		  <div class="item">
		    <div class="mobile-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/kv-2.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper">
		        <h2 style='text-align:center;padding-top:15px'>欢聚美味 随心所拼</h2>
		        <p>星拼悦蛋糕礼盒全新上市，任选6片或10片三角形蛋糕，随心所拼，搭配精致礼盒，定制专属美味。无论是圣诞欢聚，还是生日派对，无论是家人团聚，	还是公司会议，用星拼悦蛋糕礼盒让每一次相聚都与众不同。</p>
		      </div>
		    </div>
		    <div class="show-mobile tablet-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/kv-2-mobile.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper collapsed">
		        <h2 style='text-align:center;padding-top:15px'>欢聚美味 随心所拼</h2>
		        <div class="body">
		          	<p>
		          	星拼悦蛋糕礼盒全新上市，任选6片或10片三角形蛋糕，随心所拼，搭配精致礼盒，定制专属美味。无论是圣诞欢聚，还是生日派对，无论是家人团聚，还是公司会议，用星拼悦蛋糕礼盒让每一次相聚都与众不同。</p>
		        </div>
		        <span class="icon"></span>
		      </div>
		    </div>
		  </div>
		  
		  

		  
		  <div class="item">
		    <div class="mobile-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/kv-7.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper">
		        <h2 style='text-align:center;padding-top:15px'>汇聚缤纷圣诞</h2>
		        <p>
			        圣诞综合咖啡豆再度回归，雪松香料般的风味伴随着馥郁香甜的顺滑口感，层次丰富，让这个圣诞季倍显不同。今年，圣诞综合咖啡家族再
					添新成员，全新浅雅烘焙圣诞综合咖啡豆，散发出红糖、甜橙和香料般的微妙香味；浓缩烘焙圣诞综合咖啡豆，焦糖与香料般的风味相互交融，更甜节日色彩。</p>
		      </div>
		    </div>
		    <div class="show-mobile tablet-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/kv-0-mobile.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper collapsed">
		        <h2 style='text-align:center;padding-top:15px'>汇聚缤纷圣诞</h2>
		        <div class="body">
		          <p>圣诞综合咖啡豆再度回归，雪松香料般的风味伴随着馥郁香甜的顺滑口感，层次丰富，让这个圣诞季倍显不同。今年，圣诞综合咖啡家
					族再添新成员，全新浅雅烘焙圣诞综合咖啡豆，散发出红糖、甜橙和香料般的微妙香味；浓缩烘焙圣诞综合咖啡豆，焦糖与香料般的风味相互交融，更甜节日色彩。</p>
		        </div>
		        <span class="icon"></span>
		      </div>
		    </div>
		  </div>
		  

		  
		  <div class="item">
		    <div class="mobile-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/food.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper">
		        <h2 style='text-align:center;padding-top:15px'>早安 圣诞</h2>
		        <p>
		        	经典回归的圣诞布里欧面包，选用优质上乘的蔓越莓混合扁桃仁，巧妙的口感及风味，经典又创新。圣诞果子蛋糕，混合多种果干和坚果，搭配醇香卡普奇诺，带你体验来自欧洲的圣诞早餐。
		        </p>
		      </div>
		    </div>
		    <div class="show-mobile tablet-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/food-mobile.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper collapsed">
		        <h2 style='text-align:center;padding-top:15px'>早安 圣诞</h2>
		        <div class="body">
		          <p>经典回归的圣诞布里欧面包，选用优质上乘的蔓越莓混合扁桃仁，巧妙的口感及风味，经典又创新。圣诞果子蛋糕，混合多种果干和坚果，搭配醇香卡普奇诺，带你体验来自欧洲的圣诞早餐。</p>
		        </div>
		        <span class="icon"></span>
		      </div>
		    </div>
		  </div>
		  
		  
		  
		  <div class="item">
		    <div class="mobile-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/merch-1.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper">
		        <h2 style='text-align:center;padding-top:15px'>浪漫圣诞 璀璨星光</h2>
		        <p>
		        	在圣诞节的夜晚，天空飘着阵阵雪花，大街小巷都充满了斑斓的霓虹灯，为你照亮圣诞的夜晚。星星点点的灯光与雪花交相呼应，仿佛置身于真正的圣诞夜，感受到阵阵浪漫气息。
		        </p>
		      </div>
		    </div>
		    <div class="show-mobile tablet-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/merch-1-mobile.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper collapsed">
		        <h2 style='text-align:center;padding-top:15px'>浪漫圣诞 璀璨星光</h2>
		        <div class="body">
		          <p>
		          	在圣诞节的夜晚，天空飘着阵阵雪花，大街小巷都充满了斑斓的霓虹灯，为你照亮圣诞的夜晚。星星点点的灯光与雪花交相呼应，仿佛置身于真正的圣诞夜，感受到阵阵浪漫气息。
		          </p>
		        </div>
		        <span class="icon"></span>
		      </div>
		    </div>
		  </div>
		  
		  
		  
		  
		  <div class="item">
		    <div class="mobile-hidden">
		      <a href="" class="block relative">
		        <img src="{% static 'image/kv-8.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper">
		        <h2 style='text-align:center;padding-top:15px'>圣诞臻选新体验</h2>
		        <p>
		        	优越的地理位置、悉心的种植和加工造就咖啡豆的非凡品质和风味；有趣的卡片设计体现咖啡豆产地地质风貌及当地咖啡业引领者的变革故事，引发对于优质产地和精彩故事的无限遐想。</p>
		      </div>
		    </div>
		    <div class="show-mobile tablet-hidden">
		      <a href="{% static '#lto-items' %}" class="block relative">
		        <img src="{% static 'image/kv-8-mobile.jpg' %}" class="img">
		      </a>
		      <div class="description text wrapper collapsed">
		        <h2 style='text-align:center;padding-top:15px'>圣诞臻选新体验</h2>
		        <div class="body">
		          <p>
		          		优越的地理位置、悉心的种植和加工造就咖啡豆的非凡品质和风味；有趣的卡片设计体现咖啡豆产地地质风貌及当地咖啡业引领者的变革故事，引发对于优质产地和精彩故事的无限遐想。</p>
		        </div>
		        <span class="icon"></span>
		      </div>
		    </div>
		  </div>
		</section>
	</div>
</div>
</div>
</body>
</html>